*{
  padding: 0;
  margin: 0;
	list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
#imghover:hover {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}
#blink{
      transition:2s;
}
body{
  background-image: url("../images/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}
nav{
  height: 70px;
}
nav img{
	position: absolute;
	width: 150px;
	top: 17px;
	left: 12%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 20px;
}
nav ul li a{
  position: relative;
  padding: 5px 0;
  color: rgba(240, 240, 240, 0.6);
  font-size: 15px;
  font-family: 'Baloo Thambi 2', cursive;
}
/* nav ul li a:hover{
  -moz-text-shadow: 0 0 70px white;
  -webkit-text-shadow: 0 0 70px white;
  text-shadow: 0 0 70px white;
}
nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
	background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
} */
nav ul li a:hover{
	/* -moz-text-shadow: 0 0 70px white;
  -webkit-text-shadow: 0 0 70px white;
  text-shadow: 0 0 70px white; */
  color: white;
}
#blink{
  transition:2s;
}
/* nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
} */
/* nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: right;
} */
label #btn,
label #cancel{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1118px){
  nav img{
    left: 8%;
  }
}
@media (max-width: 944px){
  nav img{
    width: 130px;
		top: 20px;
		left: 6%;
  }
	nav ul li a{
		font-size: 17px;
    color: white;
	}
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(60, 60, 60, 0.5);
    top: 52px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
  #check:checked ~ ul{
    left: 0;
  }
	#check:checked ~ label #btn{
    display: none;
  }
	#check:checked ~ label #cancel{
    display: block;
  }
}
/*----- Footer -----*/


footer{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
.social-icon a{
  margin: 0 0px 0px 0px;
  display: inline-block;
}
.social-icon .fab{
  font-size: 18px;
  color: rgb(255, 255, 255);
  /* text-shadow: 3px 3px 6px rgb(240, 240, 240); */
  width: 30px;
  height: 405;
  background: transparent;
  line-height: 1.7;
  transition: .1s;
}
.social-icon .fab:hover{
  text-shadow: 3px 3px 6px rgb(240, 240, 240);
}
.social-icon #facebook:hover{
  color: #4267B2;
}
.social-icon #twitter:hover{
  color: #00acee;
}
.social-icon #instagram:hover{
  color: #C13584;
}
.social-icon #youtube:hover{
  color: #FF0000;
}
.social-icon a:hover .fab{
  transform: translateY(-5px);
}
.white{
  color: rgb(180, 180, 180);
  font-size: 10px;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
}
.footertext{
  font-family: 'Baloo Thambi 2', cursive;
  color: rgb(180, 180, 180);
  font-size: 12px;
}


/*----- Footer -----*/

/*------ contact ------*/
.map-responsive{
  overflow:hidden;
  padding-bottom: 100%;
  position:relative;
  height:0;
  /* border-radius: 5px; */
  /* border: 5px solid rgba(29, 28, 28, 0.37); */
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}

/* Contact Form Styling */

.linka{
  font-size: 1.5em;
}
.map-responsive:hover{
box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}
.container {
  padding: 0 50px 40px;
  background-color: rgba(37, 37, 37, 0.521);
  font-family: 'Baloo Thambi 2', cursive;
  color: #fff;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	/* border-bottom:1px solid #a2a2a2; */
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.sec2addr a{
  text-decoration: none;
  color: #fff;
}
.sec2addr a:hover{
  font-weight: bold;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ededed48;;
    /* background: #ededed48; */
    background: transparent;
    margin: 7px 0;
    color: #fff;
    font-family: 'Baloo Thambi 2', cursive;
    /* border-radius: 5px; */
}
.section2 .sec2contactform input[type="text"]:focus, 
.section2 .sec2contactform input[type="email"]:focus,
.section2 .sec2contactform textarea:focus{
    border-color: slateblue;
    color: #fff;
}
.section2 .sec2contactform input[type="text"]:focus::placeholder, 
.section2 .sec2contactform input[type="email"]:focus::placeholder,
.section2 .sec2contactform textarea:focus::placeholder
/* .section2 .sec2contactform input[type="text"]:valid ::placeholder, 
.section2 .sec2contactform input[type="email"]:valid ::placeholder,
.section2 .sec2contactform textarea:valid ::placeholder{ */{
  transform: translateY(-15px);
  transition: 0.5s;
  color: #A44DD8;
  z-index: -1000;
}
.section2 .sec2contactform textarea {
    width: 100%;
    display: block;
    color: #666;
    resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 7px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 7px 0;
    font-family: 'Baloo Thambi 2', cursive;
    cursor: pointer;
}
.section2 .sec2contactform input[type="submit"]:hover{
    background: #a54dd85e;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 19px;
    color: #fff;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}
/*----- contact end -----*/



.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
}

.progress-bar {
  height: 3px;
  background: orange;
  width: 0%;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}


/*------ go to top button --------*/

#button {
	display: inline-block;
	width: 56px;
	height: 55px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	outline: none;
  }
  #button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #button:hover {
	cursor: pointer;
	/* background-color: #333; */
	-moz-text-shadow: 0 0 50px #ccc;
	-webkit-text-shadow: 0 0 50px #ccc;
	text-shadow: 0 0 50px #ccc;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }

/*------ go to top button end --------*/