*{
  padding: 0;
  margin: 0;
	list-style: none;
  text-decoration: none;
}
/* ------------ chester pop up start -------------- */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index: 1;
  background-color:rgba(27, 26, 26, 0.911);
  display:none;
}
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  height:200px;
  display:none;
  z-index: 2;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}
#boxes #dialog {
  width:450px; 
  height:auto;
  padding:10px;
  font-size: 15pt;
}
#lorem img{
  width: 450px;
  height: 500px;
}
#popupfoot{
	font-size: 16pt;
  padding: 10px 20px;
  color: white;
}
.note{
  color: white;
}
#popupfoot button{
  background: transparent;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100px;
  height: 30px;
  outline: none;
}
#popupfoot a{
  text-decoration: none;
  color: white;
}
#popupfoot button:hover{
  cursor: pointer;
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  transform: translateY(-2px);
}

@media screen and (max-width: 900px) and (min-width: 330px){
  #lorem img{
    width: 180px;
    height: 200px;
  }
  #dialog{
    width: 88% !important;
  }
  #lorem{
    width: 280px;
    top:0;
	  bottom: 0;
    left: 0;
	  right: 0;
	  margin: auto;
  }
  .note{
    font-size: 15px;
    width: 280px;
    align-self: center;
    top:0;
	  bottom: 0;
    left: 0;
	  right: 0;
    margin: auto;
    font-family: 'Baloo Thambi 2', cursive;
  }
  #popupfoot{
    top:0;
    bottom: 0;
    width: 260px;
    left: 0;
	  right: 0;
    margin: auto;
    font-family: 'Baloo Thambi 2', cursive;
  }
  #mask {
    width: 101% !important;
  }
}
@media screen and (max-width: 1919px) and (min-width: 900px){
  #mask {
    position:absolute;
    width: 102% !important;
  }
}

/* ------------- chester popup end ------------- */

/* text wrap start */



section{
  position: relative;
  width: 100%;
  background: rgba(77, 55, 55, 0.281);
}
.circle{
  position: relative;
  overflow: hidden;
}
.circle img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover ;
}
.circle.circle1{
  width: 350px;
  height: 350px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}
.circle.circle2{
  width: 250px;
  height: 250px;
  float: right;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}
section h2{
  color: rgb(209, 183, 183);
  font-size: 2em;
  margin-bottom: 10px;
}
section p{
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.1em;
  font-family: 'Baloo Thambi 2', cursive;
}
.pb b{
  color: #aa4e4e;
}
@media screen and (max-width: 900px) and (min-width: 330px){
  .circle.circle1{
  width: 200px;
  height: 200px;
  }
  .circle.circle2{
  width: 100px;
  height: 100px;
  }
  section h2{
    font-size: 1em;
  }
  section{
    width: 100%;
  }
}



/*---------- text wrap end ------------*/



/* -----preloader start------- */

/* .pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:#000000;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background:#101010;
  overflow:hidden;
  position:fixed;
  z-index: 15;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.p {
  position: absolute;
  top: 45%;
  left: 50%;
  font-family: 'Baloo Thambi 2', cursive;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 10px;
}
@media screen and (max-width: 900px) and (min-width: 330px){
  #preloader{
    width:100%;
    height:100%;
  }
} */

/* --------- preloader end------------- */
body{
  background-image: url("../images/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}
#imghover:hover {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}
nav{
  height: 70px;
}
nav img{
	position: absolute;
	width: 150px;
	top: 17px;
	left: 12%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 20px;
}
nav ul li a{
  position: relative;
  padding: 5px 0;
  color: rgba(240, 240, 240, 0.6);
  font-size: 15px;
  font-family: 'Baloo Thambi 2', cursive;
}
nav ul li a:hover{
	/* -moz-text-shadow: 0 0 70px white;
  -webkit-text-shadow: 0 0 70px white;
  text-shadow: 0 0 70px white; */
  color: white;
}
#blink{
  transition:2s;
}
/* nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
} */
/* nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: right;
} */
label #btn,
label #cancel{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/*-------- Quotes start -------------*/
.quotesection{
  width: 99%;
  height: 200px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 7px;;
  
}
.quote1{
  background-color: rgba(180, 180, 180, 0.1);
  margin-top: 10px;
  width: 30%;
  height: 200px;
  padding: 10px;
  float: left;
  margin-left: 1%;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Baloo Thambi 2', cursive;
  color: white;
  border-radius: 20px;
}
.quote1::first-letter {
  font-size: 250%;
  color: white;
  font-weight: bold;
}
.childquote1{
  width: 90%;
  margin-top: 30px;
  margin-left: 20px;
}
.quote2{
  background-color: rgba(180, 180, 180, 0.1);
  margin-top: 10px;
  width: 30%;
  height: 200px;
  padding: 10px;
  margin-right: 1%;
  margin-left: 2.5%;
  float: left;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Baloo Thambi 2', cursive;
  color: white;
  border-radius: 20px;
}
.quote2::first-letter {
  font-size: 250%;
  color: white;
  font-weight: bold;
}
.childquote2{
  width: 90%;
  margin-top: 30px;
  margin-left: 20px;
}
.quote3{
  background-color: rgba(180, 180, 180, 0.1);
  margin-top: 10px;
  width: 30%;
  height: 200px;
  padding: 10px;
  margin-right: 1%;
  float: right;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Baloo Thambi 2', cursive;
  color: white;
  border-radius: 20px;
}
.quote3::first-letter {
  font-size: 250%;
  color: white;
  font-weight: bold;
}
.childquote3{
  width: 90%;
  margin-top: 30px;
  margin-left: 20px;
}

@media (max-width: 526px)
 {
  .quotesection{
    height: 235px;
  }
  .quote3{
    display: none;
  }
  .childquote1, .childquote2, .childquote3 {
    font-size: 11px;
    margin-top: 0px;
    width: 100%;
  }
  .childquote1, .childquote2, .childquote3{
    margin-left: 0px;
  }
  .quote1::first-letter, .quote2::first-letter{
    font-size: 25px;
  }
  .quote1, .quote2, .quote3{
    width: 40%;
    border-radius: 10px;
  }
  .fa-2x{
    font-size: 10px !important;
  }
}
@media (max-width: 892px)
 {
  .quote3{
    display: none;
  }
  .quote2{
    float: right;
  }
}
/*----------- quotes end ----------------------*/


/*-------------- updates ---------------------*/
.newsdivleft{
  border-radius: 10px;
  position: relative;
  height: 125px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 1%;
  background-color: rgba(60, 60, 60, 0.7);
  font-size: 15px;
  color: white;
  padding-top: 10px;
  font-family: 'Baloo Thambi 2', cursive;
  float: left;
  
}
.childnewsdivleft{
  background-color: rgba(180, 180, 180, 0.3);
  height: 91px;
  margin-top: 11px;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}
.slideshow-container a{
  text-decoration: none;
  /* color: black; */
}

.slideshow-container{
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius: 5px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
  height: 91px;
  width: auto;
  padding-left: 10px;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.updateslink{
  text-decoration: none;
  color: chocolate;
}
.updateslink:hover{
  /* -moz-text-shadow: 0 0 20px #ccc;
  -webkit-text-shadow: 0 0 20px #ccc;
  text-shadow: 0 0 20px #ccc; */
  font-weight: bold;
  color: white;
}
@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@media (max-width: 320px) {
  .slideshow-container {
    font-size: 11px;
  }
  .newsdivright{
    display: none;
  }
}
@media (max-width: 477px) {
  .slideshow-container {
    font-size: 10px;
  }
  .newsdivright{
    display: none;
  }
}
@media (max-width: 360px) {
  .slideshow-container {
    font-size: 12px;
  }
  .newsdivright{
    display: none;
  }
  .fade{
    width: 97%;
  }
  .childnewsdivleft{
    width: 100%;
    height: 91px;
  }
}

.newsdivright{
  float: right;
  width: 37%;
  height: 125px;
  margin-right: 1%;
  padding-top: 10px;
  border-radius: 10px; 
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Baloo Thambi 2', cursive;
  background-color: rgba(60, 60, 60, 0.7);
}
.childnewsdivright{
  margin-top: 8px; 
  background-color: white;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 5px;
  background-color: rgba(180, 180, 180, 0.3);
  font-family: 'Baloo Thambi 2', cursive;
  height: 86px;
}
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
  height: 91px;
  width: auto;
  padding-left: 10px;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px;
}
/*---------------- updates end -------------------------*/



/*------- mp3 slide start---------*/
table{
  width: auto;
  margin-top: 11px;
}
.mp3slideshow {
  position: relative;
  width: 590px;
  height: auto;
}
.mp3slides{
  font-size: 15px;
}
.mp3slideslink{
  text-decoration: none;
  outline: none;
  color: chocolate;
}
.mp3slideslink:hover{
  font-weight: bold;
  color: white;
}
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  float: right;
  color: white;
  font-weight: bold;
  border-bottom-right-radius : 100px;
  border-top-right-radius : 100px;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.prev{
  cursor: pointer;
  padding: 16px;
  border-bottom-left-radius : 100px;
  border-top-left-radius : 100px;
  float: left;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
}
.prev:hover{
  background-color: rgba(0,0,0,0.5);
  border-bottom-left-radius : 100px;
  border-top-left-radius : 100px;
  }
.next:hover {
  background-color: rgba(0,0,0,0.5);
  border-bottom-right-radius : 100px;
  border-top-right-radius : 100px;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.mp3fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes mp3fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes mp3fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 1639px) {
.mp3slideshow { width: 490px;}
}
@media only screen and (max-width: 1289px) {
.mp3slideshow { width: 360px;}
}
@media only screen and (max-width: 1115px) {
.newsdivright { display: none;}
}
/*------ mp3 slide end-------*/

@media (max-width: 1118px){
  nav img{
    left: 8%;
  }
  .newsdivleft{
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
}
@media (max-width: 944px){
  nav img{
    width: 130px;
		top: 20px;
		left: 6%;
  }
	nav ul li a{
		font-size: 17px;
    color: white;
	}
  .newsdivleft{
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    margin-bottom: 9px;
  }
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(60, 60, 60, 0.5);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
  .newsdivleft{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 15px;
    margin-bottom: 9px;
  }
  #check:checked ~ ul{
    left: 0;
  }
	#check:checked ~ label #btn{
    display: none;
  }
	#check:checked ~ label #cancel{
    display: block;
  }
}

.typing{
  animation: type 3s steps(9);
  overflow:hidden;
  white-space:nowrap;
  width:9ch;
  color: white;
  
  }
  @keyframes type{
  0%{
  width:0ch;
  }
  100%{
  width:9ch;
  }
}

/*----- Footer -----*/


footer{
  margin-top: 30px;
  width: 100%;
  position: static;
  text-align: center;
  background: transparent;
}
.social-icon a{
  margin: 0 0px 0px 0px;
  display: inline-block;
}
.social-icon .fab{
  font-size: 18px;
  color: rgb(255, 255, 255);
  /* text-shadow: 3px 3px 6px rgb(240, 240, 240); */
  width: 30px;
  height: 405;
  background: transparent;
  line-height: 1.7;
  transition: .1s;
}
.social-icon .fab:hover{
  text-shadow: 3px 3px 6px rgb(240, 240, 240);
}
.social-icon #facebook:hover{
  color: #4267B2;
}
.social-icon #twitter:hover{
  color: #00acee;
}
.social-icon #instagram:hover{
  color: #C13584;
}
.social-icon #youtube:hover{
  color: #FF0000;
}
.social-icon a:hover .fab{
  transform: translateY(-5px);
}
.white{
  color: rgb(180, 180, 180);
  font-size: 10px;
  font-weight: bold;
 font-family: 'Baloo Thambi 2', cursive;
}
.footertext{
	font-family: 'Baloo Thambi 2', cursive;
	color: rgb(180, 180, 180);
	font-size: 12px;
}


/*----- Footer -----*/

/*------ accordion slideshow start ------*/

.wrapper:hover .centered{
  display: none;
}
.wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
  align-items: center;
  z-index: 0;
}
.container-images {
	min-width: 1200px;
	height: 500px;
	display: flex;
	width: 100%;
}
.img-box {
	flex-grow: 1;
	background-size: 750px 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
	filter: grayscale(1);
	position: relative;
  overflow: hidden;
}
.img-box:hover {
	background-size: cover;
	flex-grow: 4;
	filter: grayscale(0);
}
.bor-left-right::before,
.bor-top-bottom::before,
.bor-left-right::after,
.bor-top-bottom::after {
	content: '';
	position: absolute;
	transition: 1s;
}
.bor-left-right::before {
	width: 1px;
	height: 100%;
	top: 0;
	left: 0px;
}
.bor-top-bottom::before {
	width: 100%;
	height: 1px;
	top: 0px;
	left: 0;
}
.bor-left-right::after {
	width: 1px;
	height: 100%;
	bottom: 0;
	right: 0px;
}
.bor-top-bottom::after {
	width: 100%;
	height: 1px;
	bottom: 0px;
	left: 0;
}
.img-box:hover .bor-left-right::after,
.img-box:hover .bor-left-right::before,
.img-box:hover .bor-top-bottom::before,
.img-box:hover .bor-top-bottom::after {
	transition: 1s;
	opacity: .7;
	transition-delay: 0.3s;
}
.img-box:hover .bor-left-right::after {
	transform: translateY(-100%);
}
.img-box:hover .bor-left-right::before {
	transform: translateY(100%);
}
.img-box:hover .bor-top-bottom::before {
	transform: translateX(100%);
}
.img-box:hover .bor-top-bottom::after {
	transform: translateX(-100%);
}
.content {
	color: #ffffff;
	background-color: #000;
	opacity: .5;
	font-size: 14px;
	text-align: justify;
	width: 70%;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 15px;
	box-sizing: border-box;
	-webkit-transform: translateY(120%);
	-moz-transform: translateY(120%);
	-ms-transform: translateY(120%);
	-o-transform: translateY(120%);
	transform: translateY(120%);
	transition: 0.5s;
}
.img-box:hover .content {
	transform: translateY(0);
	transition-delay: 1s;
}
.content h2 {
	margin: 0 0 5px;
	padding: 0;
	font-size: 22px;
  color: #e5ff00;
  font-family: 'Baloo Thambi 2', cursive;
}
.linediv{
  width: 100%;
  height: 2px;
  background-color: white;
}
.content p {
	margin: 0;
  padding: 0;
  font-family: 'Baloo Thambi 2', cursive;
}
@media only screen and (max-width: 1366px) {
	.container-images {
		min-width: 110%;
  }
}
 @media only screen and (max-width: 480px) {
	.container-images {
		height: 250px;
  }
  .wrapper {
    width: 92%;
    top:0;
	  bottom: 0;
    left: 0;
	  right: 0;
	  margin: auto;
  }
	.img-box {
		background-size: cover;
	}
	.img-box:hover {
		background-size: cover;
	}
	.bor-left-right::before {
		left: 0px;
	}
	.bor-left-right::after {
		right: 0px;
	}
	.bor-top-bottom::before {
		top: 0px;
	}
	.bor-top-bottom::after {
		bottom: 0px;
	}
	.content {
		width: 93%;
		padding: 10px;
	}
	.content h2 {
		font-size: 12px;
	}
	.content p {
		font-size: 9px;
	}
}






/*------ accordion slideshow end ------*/



.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
}

.progress-bar {
  height: 3px;
  background: orange;
  width: 0%;
}
.header {
  position: fixed;
  top: 0;
  z-index: 30000;
  width: 100%;
}



/*------ go to top button --------*/

#button {
	display: inline-block;
	width: 56px;
	height: 55px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	outline: none;
  }
  #button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #button:hover {
	cursor: pointer;
	-moz-text-shadow: 0 0 50px #ccc;
	-webkit-text-shadow: 0 0 50px #ccc;
	text-shadow: 0 0 50px #ccc;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }

/*------ go to top button end --------*/


/* --------- flex grid------------- */

.containerflex{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(10px, auto);
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  grid-auto-flow: dense;
  grid-gap: 7px;
  font-family: 'Baloo Thambi 2', cursive;
}
.containerflex .boxflex{
  background: rgba(51, 51, 51, 0.562);
  padding: 10px;
  display: grid;
  font-size: 15px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  border-radius: 8px;
  /* filter: blur(0.7px); */
}
.contentflex a{
  text-decoration: none;
  color: chocolate;
}
.contentflex a:hover{
  font-weight: bold;
  color: #ccc;
}
.containerflex .boxflex:hover{
  background: #e91e6241;
  /* filter: blur(0px); */
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
}
/* .containerflex .boxflex:hover img{
  filter: grayscale(0.5);
} */
.containerflex .boxflex img{
  position: relative;
  max-width: 60px;
  margin-bottom: 10px;
  /* filter: grayscale(1); */
}
.containerflex .boxflex:nth-child(1){
  grid-column: span 2;
  grid-row: span 1;
}
.containerflex .boxflex:nth-child(2){
  grid-column: span 1;
  grid-row: span 1;
}
.containerflex .boxflex:nth-child(3){
  grid-column: span 2;
  grid-row: span 1;
}
.containerflex .boxflex:nth-child(4){
  grid-column: span 1;
  grid-row: span 2;
}
.containerflex .boxflex:nth-child(5){
  grid-column: span 2;
  grid-row: span 2;
}
.containerflex .boxflex:nth-child(7){
  grid-column: span 2;
  grid-row: span 1;
}
@media (max-width:991px){
  .containerflex{
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto);
  }
  .containerflex .boxflex{
      grid-column: unset !important;
      grid-row: unset !important;
  }
}

/* ------ flex gird---------- */